body{
  width: 360px;
  margin: auto;
  /* border: 1px solid red; */
}

header{
  display: flex;
  justify-content: center;
  width: 360px;
  padding: 5px 0;
  border-bottom: 1px solid #CCCCCC;
}

.icon{
  padding: 10px;
  width: 20px;
  height: 20px;
}

.logo{
  display: block;
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.sidebar{
  display: flex;
  justify-content: center;
  width: 360px;
  padding-bottom: 3px;
  border-bottom: 1px solid #CCCCCC;
}
.sidebar ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 300px;
  padding: 0;
}
.sidebar ul li{
  list-style: none;
  margin: 0 10px;
  box-sizing: border-box;
}
.description{
  padding-top: 10px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description img{
  width: 360px;
}
