:root{
  --main-color: #83A98A;
  --green-light-color: #BEC595;
  --green-dark-color: #83A98A;
  --green-deep-color: #2F4858;
  --brown-color: #B5A999;
  --light-color: #D6FADC;
  --green-notice-color: #EAEDDB;
}

body{
  margin: auto;
}

header{
  position: sticky;
  top: 0;
  width: 100%;
  height: 55px;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  z-index: 100;
}

.icon{
  padding: 10px;
  width: 20px;
  height: 20px;
}

.logo{
  display: block;
  width: 120px;
  height: auto;
  margin-left: 10px;
}

.menu_bar{
  position: sticky;
  top: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  background-color: #FFFFFF;
}
.menu_bar #cur_menu{
  background-color: white;
  color: black;
}

.menu_bar .btn{
  color: white;
  width: 50%;
  height: 35px;
  border: none;
  background-color: var(--main-color);
  cursor: pointer;
}

#input_search{
  height: 30px;
  width: 70%;
}

table{
  margin-top: 16px;
  width: 100%;
  text-align: left;
  font-size: 14px;
  letter-spacing: -0.5px;
  border-collapse: collapse;
}
th{
  text-align: center;
  padding: 5px;
}
tr{
  text-align: center;
  border-bottom: 1px solid var(--green-light-color);
  padding: 5px;
}
td{
  text-align: center;
  padding: 5px;
}


.description{
  width: 95%;
  margin: 0 auto;
  padding: 5px;
  overflow: hidden;
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--green-dark-color);
}
