.notice{
  width: 95%;
  margin: 0 auto;
}

tr{
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}
td{
}
.noticeID{
  flex-basis: 10%;
}
.noticeTitle{
  flex-basis: 65%;
}
.noticeDate{
  flex-basis: 25%;
}
