header{
  margin-bottom: 15px;
}

.logo{
  margin: 0;
  margin-right: 120px;
}

.content{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

::placeholder{
  color: #CCCCCC;
  padding-left: 10px;
  font-size: 15px;
}

#id, #pw, #re-pw, #nickname{
  width: 230px;
  height: 40px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

#signup{
  width: 238px;
  height: 40px;
  font-size: 15px;
  color: #FFFFFF;
  font-weight: 600;
  background-color: #f4b35f;
  border: 1px solid #f4b35f;
  border-radius: 5px;
  margin-bottom: 10px;
}
